# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
# Raw ML datasets
ml/datasets/*/raw/

# Generated ML datasets
ml/datasets/*/processed/*.csv

# Trained model binaries/artifacts
ml/models/trained/**/*.json
ml/models/trained/**/*.bin
ml/models/trained/**/*.pkl
ml/models/trained/**/*.joblib
